/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 36px;
}
img.gallery-image {
  max-width: 360px;
  max-height: 200px;
}
img.gallery-image:hover {
  max-width: 376px;
  max-height: 208px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 36px;
  margin-left: 24px;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  width: 360px;
  height: 40px;
}

.textarea {
  width: 360px;
  height: 80px;
}

.button {
  width: 95px;
  height: 40px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  gap: 10px;
  background-color: #4e75ff;
  color: #ffffff;
  border-color: transparent;
}

.button:hover {
  background-color: #6c8cff;
}
